@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();

    var showBanner = !consentFeature?.CanTrack ?? false;

    var cookieString = consentFeature?.CreateConsentCookie();
}

@if(showBanner) {

    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
           
        This cookie is use <b>ONLY</b> for technical reason.
        
        It is <b><i>mandatory</i></b>

        <a asp-page="/Privacy">testo completo</a>

        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close"
        
            data-cookie-string="@cookieString">
        
            <span aria-hidden="true">Accetta</span>
       
        </button>

    </div>

    <script>

        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event)   {
                document.cookie = button.dataset.cookieString;
                var cookieContainer = document.querySelector("#cookieConsent");
                cookieContainer.remove();
            }, false);
        })();

      
    </script>
}